/******************************************************************************/
#ModalCargando {
    width: auto;
    height: auto;
    text-align: center !important;
    -webkit-border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 21px;
}
.FondoIngreso {
    background-image: url('IMG/WhoWeAreEnel.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

#ModalCargando{
    
}


