
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<body class="bg-primary">

    <div class="unix-login">
        <div class="container">
            <div class="row FondoIngreso">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-content">
                        <div class="login-logo black">
                            <a href="index.html"><span>Sumate</span></a>
                        </div>
                        <div class="login-form">
                            <h4>Ingreso de Cuenta</h4>
                            <form>
                                <div class="form-group">
                                    <label>Usuario:</label>
                                    <input id="txtUsuario" type="text" class="form-control" placeholder="Usuario" >
                                </div>
                                <div class="form-group">
                                    <label>Contraseña:</label>
                                    <input id="txtPass" type="password" class="form-control" placeholder="Contraseña">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Recuerdame
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30" onclick="GetLogin()">Ingresar</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/ScriptsViews/Login.js"></script>
</body>

</html>